In [1]:
#1. Create a function that takes a boolean variable flag and returns it as a string. 
#Examples
#bool_to_string(True) ➞ "True" 
#bool_to_string(False) ➞ "False"

def bool_to_string(flag):
    if flag==True:
        return "True"
    elif flag==False:
        return "False"
    else:
        return None

In [2]:
bool_to_string(True)

'True'

In [3]:
#2.Create a function that returns True when num1 is equal to num2; otherwise return False.
#Examples
#is_same_num(4, 8) ➞ False 
#is_same_num(2, 2) ➞ True 
#is_same_num(2, "2") ➞ False

def is_same_num(num1,num2):
    if num1==num2:
        print(True)
    else:
        print(False)

In [4]:
is_same_num(4, 8)

False

In [5]:
is_same_num(2, 2)

True

In [6]:
is_same_num(2, "2")

False

In [7]:
#3 Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, otherwise return False.
#Examples
#less_than_or_equal_to_zero(5) ➞ False 
#less_than_or_equal_to_zero(0) ➞ True 
#less_than_or_equal_to_zero(-2) ➞ True

def less_than_or_equal_to_zero(num1):
        if num1<=0:
            print(True)
        else:
            print(False)

In [8]:
less_than_or_equal_to_zero(5)

False

In [9]:
less_than_or_equal_to_zero(0)

True

In [10]:
less_than_or_equal_to_zero(-2)

True

In [11]:
#4 Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, 
#and would like to greet him slightly differently. She added a special case in her function, 
#but she made a mistake.Can you help her?
#Can you help her?
#greeting("Matt") ➞ "Hello, Matt!" 
#greeting("Helen") ➞ "Hello, Helen!" 
#greeting("Mubashir") ➞ "Hello, my Love!"

def greeting(name):
    if name=="Mubashir" or name=="mubashir":
        print("Hello, my Love!")
    else:
        print("Hello, {}!".format(name))

In [12]:
greeting("Matt")

Hello, Matt!

In [13]:
greeting("Helen")

Hello, Helen!

In [14]:
greeting("Mubashir")

Hello, my Love!

In [15]:
#5 Create a function that takes two arguments. Both arguments are integers, a and b.
# Return True if one of them is 10 or if their sum is 10.
#Examples
#makes10(9, 10) ➞ True 
#makes10(9, 9) ➞ False 
#makes10(1, 9) ➞ True

def makes10(a,b):
    if a==10 or b==10 or a+b==10:
        return True
    else:
        return False

In [16]:
makes10(9, 10)

True

In [17]:
makes10(9, 9)

False

In [18]:
makes10(1, 9)

True

In [20]:
#6 Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay;
#otherwise return False.
#To illustrate:
#profitable_gamble(0.2, 50, 9)
#... should yield True, since the net profit is 1 (0.2 * 50 - 9), and 1 > 0.

def profitable_gamble(prob,prize,pay):
    if prob*prize>pay:
        return True
    else:
        return False

In [21]:
profitable_gamble(0.2, 50, 9)

True

In [22]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.

def divisible(num):
    if num%100==0:
        return True
    else:
        return False

In [23]:
divisible(1)

False

In [24]:
divisible(1000)

True

In [25]:
divisible(100)

True

In [26]:
#8 Create a function that takes two strings as arguments and return either True or False depending on whether the 
#total number of characters in the first string is equal to the total number of characters in the second string.

def comp(a,b):
    if len(a)==len(b):
        return True
    else:
        return False

In [27]:
comp("AB", "CD")

True

In [28]:
comp("ABC", "DE")

False

In [29]:
comp("hello", "edabit")

False

In [30]:
#9 Given a string, return True if its length is even or False if the length is odd. Examples
#odd_or_even("apples") ➞ True
# The word "apples" has 6 characters.
# 6 is an even number, so the program outputs True.
#odd_or_even("pears") ➞ False
# "pears" has 5 letters, and 5 is odd. # Therefore the program outputs False.
#odd_or_even("cherry") ➞ True

def odd_or_even(s):
    if len(s)%2==0:
        return True
    else:
        return False

In [31]:
odd_or_even("apples")

True

In [32]:
odd_or_even("pears")

False

In [33]:
odd_or_even("cherry")

True

In [34]:
#10 Create a function that takes a string; we'll say that the front is the first three characters of the string. 
#If the string length is less than three characters, the front is whatever is there.
#Return a new string, which is three copies of the front.
#Examples
#front3("Python") ➞ "PytPytPyt" 
#front3("Cucumber") ➞ "CucCucCuc" 
#front3("bioshock") ➞ "biobiobio"

def front3(s):
    if len(s)<=3:
        front=s
    else:
        front=s[:3]
    return front*3

In [35]:
front3("Python")

'PytPytPyt'

In [36]:
front3("Cucumber")

'CucCucCuc'

In [37]:
front3("bioshock")

'biobiobio'

In [38]:
#11 Darts is a target game played by throwing feathered darts at a circular board with numbered spaces.
#Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance from
#the middle. You need to create a function that takes the dart location as two cartesian coordinates (x, y) and 
#returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).
#● Bullseye and inner circle scores = 10 points
#● Middle ring scores = 5 points
#● Outer ring scores = 1 point
#● Outside the target = 0 points

def darts(x,y):
    r=((x**2)+(y**2))**2
    if r<=1:
        p=10
    elif r>1 and r<=5:
        p=5
    elif r>5 and r<=10:
        p=1
    else:
        p=0
    return p

In [39]:
darts(1,1)

5

In [40]:
#12  Write a function that returns True if a year is a leap, otherwise return False. A year is a "leap year" if it 
#lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month,
#creating February 29.A leap year occurs every four years, and will take place if the year is a multiple of four.
#The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must be 
#divisible by 4 to be a leap year.

def leap_year(y):
    if y%4==0:
        return True
    else:
        return False

In [41]:
leap_year(1990)

False

In [42]:
leap_year(1924)

True

In [43]:
leap_year(2021)

False

In [44]:
#13 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine 
# whether or not the hurdler can clear all the hurdles.A hurdler can clear a hurdle if their 
# jump height is greater than or equal to the hurdle height.
#Examples
#hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True 
#hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False 
#hurdle_jump([5, 4, 5, 6], 10) ➞ True 
#hurdle_jump([1, 2, 1], 1) ➞ False

def hurdle_jump(hurdle_heights,jump_heights):
    t=0;
    for x in hurdle_heights:
        if x<=jump_heights:
            t+=1 
        else:
             continue
    if t==len(hurdle_heights):
        return True
    else:
        return False

In [45]:
hurdle_jump([1, 2, 3, 4, 5], 5)

True

In [46]:
hurdle_jump([5, 5, 3, 4, 5], 3)

False

In [47]:
hurdle_jump([5, 4, 5, 6], 10)

True

In [48]:
hurdle_jump([1, 2, 1], 1)

False

In [49]:
#Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string.
#For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.

def month_name(num):
    year={1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",\
          10:"October",11:"November",12:"December"}
    for x in year.keys():
        if x==num:
            month=year[x]
        else:
            continue
    return month

In [50]:
month_name(3)

'March'

In [51]:
month_name(12)

'December'

In [52]:
month_name(6)

'June'

In [53]:
#15 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only identical elements.

def count_identical(lst):
    l=0
    for x in lst:
        if len(x)==1:
            l+=1
        else:
            a=x[0];b=0
            for y in range(1,len(x)):
                if a==x[y]:
                    b+=1
            if b>=1:
                l+=1
    return l

In [54]:
count_identical([[1],[2],[3],[4]])

4

In [55]:
count_identical([[1, 2], [2, 3],[3, 4],[4, 4]])

1

In [56]:
count_identical([[33, 33],[5],["a", "a"],[2, 2, 2],[1, 2, 2],[3, 1]])

4

In [57]:
count_identical([["@", "@", "@", "@"],[2, 3], [3, 4], [4, 4]])

2

In [58]:
#16 A bartender is writing a simple program to determine whether he should serve drinks to someone. 
#He only serves drinks to people 18 and older and when he's not on break.Given the person's age, 
#and whether break time is in session, create a function which returns whether he should serve drinks.

def should_serve_drinks(age,btime):
    if btime==True:
        return False
    else:
        if age>=18:
             return True
        else:
            return False

In [59]:
should_serve_drinks(17, True)

False

In [60]:
should_serve_drinks(19, False)

True

In [61]:
should_serve_drinks(30, True)

False

In [62]:
#17 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.

def AND(x,y):
    if x==1 and y==1:
        return 1
    else:
        return 0

def OR(x,y):
    if x==1 or y==1:
        return 1
    else:
        return 0
def NOT(x):
    if x==1:
        return 0
    elif x==0:
        return 1

In [63]:
AND(1, 1)

1

In [64]:
AND(0, 0)

0

In [65]:
OR(1, 0)

1

In [66]:
OR(1, 1)

1

In [67]:
NOT(0)

1

In [68]:
NOT(1)

0

In [69]:
#18 Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") 
#as input and calculates the area of that shape.

def area_shape(base=1,height=1,shape="parallelogram"):
    s=shape.lower()
    if s=="triangle":
        area=0.5*base*height
    elif s=="parallelogram":
        area=base*height
    return area

In [70]:
area_shape(2, 3, "triangle")

3.0

In [71]:
area_shape(8, 6, "parallelogram")

48

In [72]:
area_shape(2.9, 1.3, "parallelogram")

3.77

In [73]:
#19 Create a function that takes a string (a random name). If the last character of the name is an "n", 
#return True, otherwise return False.

def is_last_character_n(s):
    if s.endswith("n"):
        return True
    else:
        return False

In [74]:
is_last_character_n("Aiden")

True

In [75]:
is_last_character_n("Piet")

False

In [76]:
is_last_character_n("Dean")

True

In [77]:
#20 Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".

def is_plural(s):
    if s.endswith("s"):
        return True
    else:
        return False

In [78]:
is_plural("changes")

True

In [79]:
is_plural("change")

False

In [80]:
is_plural("dudes")

True

In [81]:
is_plural("magic")

False

In [82]:
#21 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.

def isEvenOrOdd(a):
    if a%2==0:
        return "even"
    else:
        return "odd"

In [83]:
isEvenOrOdd(3)

'odd'

In [84]:
isEvenOrOdd(146)

'even'

In [85]:
isEvenOrOdd(19)

'odd'