In [1]:
# Create a function that performs an even-odd transform to a list, n times. Each even-odd transformation:
#Adds two (+2) to each odd integer.
#Subtracts two (-2) from each even integer.

def even_odd_transform(lst,r):
    for x in range(r):
        for y in range(len(lst)):
            if lst[y]%2==0:
                lst[y]-=2
            else:
                lst[y]+=2
    return lst

In [2]:
even_odd_transform([3, 4, 9], 3)

[9, -2, 15]

In [3]:
even_odd_transform([0, 0, 0], 10)

[-20, -20, -20]

In [4]:
even_odd_transform([1, 2, 3], 1)

[3, 0, 5]

In [10]:
# A Collatz sequence is generated like this. Start with a positive number. If it's even, halve it. If it's odd, 
#multiply it by three and add one. Repeat the process with the resulting number. The Collatz Conjecture is that 
#every sequence eventually reaches 1 (continuing past 1 just results in an endless repeat of the sequence 4, 2, 1).
#The length of the sequence from starting number to 1 varies widely.
#Create a function that takes a number as an argument and returns a tuple of two elements â€” the number of steps in
#the Collatz sequence of the number, and the highest number reached.

def collatz(n):
    l=[n]
    while n>1:
        if n%2==0:
            n//=2
        else:
            n=(n*3)+1
        l.append(n)
    return (len(l),max(l))

In [11]:
can_capture(["A1", "H8"])

True

In [12]:
can_capture(["A1", "H4"])

False

In [13]:
can_capture(["G1", "H1"])

True

In [15]:
#Suppose you are directionally challenged, and get lost easily. As a result, sometimes you walk in circles or 
#make U-turns. You might take a sub-optimal route. Create a function that returns the difference in length between 
#your path and the optimal path. Both paths reach the same destination.
#You start at (0,0) and reach your destination by the end of the input list.
#A demonstration:
#Your route: ["N", "S", "E", "W", "E", "E", "E", "N"]  // 8
#Optimal route: ["E", "E", "E", "N"] (or ["N", "E", "E", "E"], etc.) // 4
# Difference in length: 8 - 4 = 4
# Explanation: Your "S" cancels out your "N" and your "W" cancels out your "E" leaving you back at (0,0)

def route_diff(lst):
    l=lst.copy()
    d={"N":"S","S":"N","E":"W","W":"E"}
    for x in lst:
        if x in d:
            if d[x] in lst:
                lst.remove(x)
                lst.remove(d[x])
            else:
                pass
        else:
            pass
    return len(l)-len(lst)

In [16]:
route_diff(["N", "S", "E", "W", "E", "E", "E", "N"])

4

In [17]:
route_diff(["N", "S", "E", "W"])

4

In [18]:
route_diff(["N", "S", "N", "S", "E", "W", "E", "E"])

6

In [19]:
route_diff(["N", "N", "N", "E", "N", "E"])

0

In [22]:
#Create a function that converts Celsius to Fahrenheit and vice versa.

def convert(temp):
    if temp[-1]=="F":
        return str(round((int(temp[:2])-32)*(5/9)))+"*C"
    elif temp[-1]=="C":
        return str(round((int(temp[:2]))*1.8)+32)+"*F"
    else:
        return "Error"

In [23]:
convert("35*C")

'95*F'

In [21]:
convert("20*F")

'-7*C'

In [24]:
convert("33")

'Error'

In [25]:
#Create a function to perform basic arithmetic operations that includes addition, 
#subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or
#"12 // 12" or "12 * 21").
#Here, we have 1 followed by a space, operator followed by another space and 2. For the 
#challenge, we are going to have only two numbers between 1 valid operator. The return 
#value should be a number.
#eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

def arithmetic_operation(s):
    i=s.find(" ")
    if s[i+1]=="+":
        return int(s[:i])+int(s[i+3:])
    elif s[i+1]=="-":
        return int(s[:i])-int(s[i+3:])
    elif s[i+1]=="*":
        return int(s[:i])*int(s[i+3:])
    elif s[i+1:i+3]=="//":
        if s[i+4]=="0":
            return -1
        else:
            return int(s[:i])//int(s[i+4:])
    else:
        pass

In [26]:
arithmetic_operation("12 + 12")

24

In [27]:
arithmetic_operation("19 - 12")

7

In [28]:
arithmetic_operation("5 // 12")

0

In [29]:
arithmetic_operation("2 ** 12")

24